@model OfferZoneAsp.Shared.CommentRatingViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.Linq
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

    var currentUser = await UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));

    // var currentUser = User.FindFirstValue(ClaimTypes.NameIdentifier);
    Category Categories = ViewData["CategoryInDetail"] as Category;
    OfferType OfferTypes = ViewData["OfferTypesInDetail"] as OfferType;
    Offer CurrentOffer = ViewData["CurrentOffer"] as Offer;
    ApplicationUser OfferOwner = ViewData["OfferOwner"] as ApplicationUser;
    IEnumerable<Comment> commentData = ViewData["CommentData"] as IEnumerable<Comment>;
    ViewData["Title"] = "Details - " + CurrentOffer.Title;

}

<br />
<br />
<br />
<!--Section: Block Content-->
<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            @*<a href="~/OfferImages/@Model.offer.OfferImageName" data-size="710x823">*@
                            <a href="~/OfferImages/@CurrentOffer.OfferImageName" data-size="710x823">
                                <img style="width:50%" src="~/OfferImages/@CurrentOffer.OfferImageName"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <h2>@CurrentOffer.Title</h2>
            <p class="mb-2 small badge bg-dark">@OfferTypes.Title</p>
            <p class="mb-2 small badge bg-primary">@Categories.Title</p>



            <p><span class="mr-1"><strong><del>TK. @CurrentOffer.Price</del></strong></span></p>
            <p><span class="mr-1"><strong>TK. @CurrentOffer.DiscountedPrice</strong></span></p>
            <p class="pt-1">
                Description: @CurrentOffer.Description
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Published :</strong></th>
                            <td>@CurrentOffer.CreatedAt</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Expiring :</strong></th>
                            <td>@CurrentOffer.ExpiredAt</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Location :</strong></th>
                            <td>@CurrentOffer.Location</td>
                        </tr>
                        @if (CurrentOffer.WebsiteLink != "" || CurrentOffer.WebsiteLink != null)
                        {
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Web link: </strong></th>
                                <td>@CurrentOffer.WebsiteLink</td>
                            </tr>
                        }
                        @if (CurrentOffer.FbLink != "" || CurrentOffer.FbLink != null)
                        {
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Facebook Link</strong></th>
                                <td>@CurrentOffer.FbLink</td>
                            </tr>
                        }
                        @if (CurrentOffer.TwitterLink != "" || CurrentOffer.TwitterLink != null)
                        {
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Twitter Link</strong></th>
                                <td>@CurrentOffer.TwitterLink</td>
                            </tr>
                        }
                        @if (CurrentOffer.InstagramLink != "" || CurrentOffer.InstagramLink != null)
                        {
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Instagram Link: </strong></th>
                                <td>@CurrentOffer.InstagramLink</td>
                            </tr>
                        }
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Posted By: </strong></th>
                            <td>
                                <img src="~/LogoImage/@OfferOwner.LogoImage" class="rounded-circle" width="50px" height="50px" alt="Alternate Text" />
                                @OfferOwner.CompanyName
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>

    </div>
    <div class="row">
        <div class="offset-md-6 col-md-6 col-sm-12">
            @for (int i = 0; i < Model.ListOfComments.Count; i++)
            {
                <h3>Anonymous User:</h3>
                <p>@Model.ListOfComments[i].Comment</p>
                <hr />
            }
        </div>
    </div>

    <div class="row">
        <div class="offset-md-6 col-md-6 col-sm-12">
            <form asp-action="Details" method="post">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ratings" asp-for="Ratings" value="1" />
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ratings" asp-for="Ratings" value="2" />
                        <label class="form-check-label" for="inlineRadio1">2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ratings" asp-for="Ratings" value="3" />
                        <label class="form-check-label" for="inlineRadio1">3</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ratings" asp-for="Ratings" value="4" />
                        <label class="form-check-label" for="inlineRadio1">4</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ratings" asp-for="Ratings" value="5" />
                        <label class="form-check-label" for="inlineRadio1">5</label>
                    </div>
                </div>
                <br />
                <input type="hidden" asp-for="OfferId" value="@CurrentOffer.OfferId" />

                <textarea asp-for="CommentText" rows="4" cols="50" class="form-control" placeholder="Enter Comments here"></textarea>
                <br />

                <div class="form-group">
                    <input type="submit" value="Comment" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

</section>
<!--Section: Block Content-->

<script>
    $(document).ready(function () {
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
        $('#rateMe4').mdbRate();
    });
</script>


<div>
    <a asp-action="Edit" asp-route-id="@CurrentOffer.OfferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
